langchain
langchain-community
langchain-google-genai
langchain-text-splitters
langchain-huggingface[full]
google-generativeai
pydantic>=2.0
pypdf
faiss-cpu
sentence-transformers
streamlit
langchain-classic
